[submodule "ext/range-v3"]
	path = ext/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "ext/generator"]
	path = ext/generator
	url = https://github.com/lewissbaker/generator.git
[submodule "ext/mdspan"]
	path = ext/mdspan
	url = https://github.com/kokkos/mdspan.git
